input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

input[type='color'] {
  padding: 0;
  width: 40px;
  height: 40px;

  &::-webkit-color-swatch {
    border: none;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
}
